.fish-details {
  width: 90%;
  max-width: 50em;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  color: seashell;
}

.fish-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.fish-details img {
  width: 50%;
  height: auto;
  border-radius: 0.4rem;
}

.fish-details p span {
  font-weight: bold;
  font-size: 1em;
}

.fish-details p {
  font-size: 1.2em;
}

.back-link {
  color:skyblue;
  font-size: 1.2rem;
  font-weight: bolder;
  text-decoration: none;
}

.back-link:hover {
  text-decoration: underline;
}

.redheart-icon{
  color: red;
  font-size: 2rem;
  cursor: pointer;
}

.heart-icon {
  color: seashell;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.heart-icon:hover {
  transform: scale(1.1);
}

.trash-icon {
  color:black;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.trash-icon:hover {
  transform: scale(1.1);
}